/**
 * @file
 * Shared styles between the content and media browsers.
 */

.views-field-entity-browser-select {
  display: none;
}

.eb-tabs ul {
  border-bottom: none;
}

.eb-tabs ul li.active {
  border-bottom: 2px solid #f6b2b5;
}

.eb-tabs ul li.active a,
.eb-tabs ul li:hover a {
  color: #ee6e73;
  text-decoration: none;
}

.eb-tabs ul li a {
  text-transform: uppercase;
  color: rgba(238,110,115,0.7);
  transition: .2s;
}

.eb-tabs li:only-child {
  display: none;
}

.exposed-form-collapsible .collapsible-header {
  margin-bottom: .5rem;
}

.exposed-form-collapsible .collapsible-body {
  padding-top: 2rem;
}

.card .card-content {
  color: white;
  max-height: 72px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card .field--name-field-product-media .field__item:not(:first-child) {
  display: none;
}

.card {
  cursor: pointer;
}

.views-row .views-field-rendered-entity,
.views-row .views-field-content-browser-preview {
  transition: .2s;
}

.views-row.checked .views-field-rendered-entity,
.views-row.checked .views-field-content-browser-preview {
  background: rgb(66, 133, 244);
}

.views-field-rendered-entity > .field-content,
.views-field-content-browser-preview > .field-content {
  display: block;
  transition: .2s;
}

.views-row.checked .views-field-rendered-entity > .field-content,
.views-field-rendered-entity > .field-content:hover,
.views-row.checked .views-field-content-browser-preview > .field-content,
.views-field-content-browser-preview > .field-content:hover {
  transform: translateZ(0) scale(.98);
}

.check-indicator {
  position:  absolute;
  left: 5px;
  top: 5px;
  color: rgba(255, 255, 255, 0.36);
  transition: .2s;
}

.views-row:hover .check-indicator {
  color: rgb(255, 255, 255);
}

.views-row.checked .check-indicator {
  color: rgb(66, 133, 244)
}

.card .contextual {
  display: none;
}

.card .card-image img {
  height: auto;
  /* Please, don't change these rules. */
  display: inline-block;
  vertical-align: bottom;
  border-radius: 0;
}

.card [class*=socicon-] {
  font-size: 24px;
}

.entity-browser-form > .form-actions {
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 10px 0 20px 30px;
  background: white;
  width: 100%;
  border-top: 1px solid lightgray;
  max-height: 70px;
  height: 70px;
}

.entity-browser-form {
  padding-bottom: 70px;
}

#panels-ipe-tray {
  display: none;
}
