/**
 * @file
 * Simple overrides on top of the Material Admin theme.
 *
 */

.content-browser-page #panels-ipe-tray {
  display: none;
}

.content-browser-actions .is-entity-browser-submit {
  margin: 10px;
}

.views-field-content-browser-preview {
  overflow: hidden;
}

.views-field-content-browser-preview img {
  object-fit: cover;
  height: 100%;
}
