.hero-block .hero-block-fields {
  position: absolute;
}

.hero-block .hero-block-fields.hero-block-align-right {
  right: 5%;
  top: 5%;
  text-align: right;
}

.hero-block .hero-block-fields.hero-block-align-left {
  left: 5%;
  top: 5%;
  text-align: left;
}

.hero-block .hero-block-fields.hero-block-align-center {
  top: 5%;
  width: 100%;
  text-align: center;
}

.hero-block .field-name-field-first-line {
  font-size: 2rem;
}

.hero-block .field-name-field-second-line {
  font-size: 1rem;
}

.hero-block .field-name-field-hero-link a {
  color: white;
}
